/* font-family: POLYA */
@font-face{
    font-family: Polya;
    src: url('../fonts/POLYA/POLYA.otf')
}
/* font-family: Pacifico */
@font-face{
    font-family: Pacifico;
    src: url('../fonts/Pacifico/Pacifico-Regular.ttf')
}
/* font-family: Lobster */
@font-face{
    font-family: Lobster;
    src: url('../fonts/Lobster/Lobster-Regular.ttf')
}
/* font-family: Langar */
@font-face{
    font-family: Langar;
    src: url('../fonts/Langar/Langar-Regular.ttf')
}
/* font-family: IndieFlower */
@font-face{
    font-family: IndieFlower;
    src: url('../fonts/Indie_Flower/IndieFlower-Regular.ttf')
}

/* font-family: Roboto_Condensed */
@font-face{
    font-family: Roboto;
    src: url('../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf')
}
